
.navbar{
    background-color: white;
    
}


/*------------------------------------------*/

body {
    font-family: 'Roboto', sans-serif;
    padding: 0;
    margin: 0;
  }
  
  
  .center {
    text-align: center;
  }
  
  section {
    height: 5vh;
    padding-bottom: 3%;
  }
  
  /* NAVIGATION */
  nav {
    width: 100%;
    margin: 0 auto;
    background:white;
    padding: 5px 0;
    box-shadow: 0px 5px 0px #dedede;
    padding-left: 10%;
    
    /* margin-left: 100px;
     */
  }
  
  nav ul li {
    display: inline-block;
   
    
    margin-right: 200px;
    
   
  }
  nav ul li a {
    display: block;
    padding: 20px;
    text-decoration: none;
    color: #03a9f4;
    font-weight: 800;
    text-transform: uppercase;
    margin: 0px 5px;
    
  }
  nav ul li a,
  nav ul li a:after,
  nav ul li a:before {
    transition: all .5s;
  }
  nav ul li a:hover {
    color:#03a9f4;
  }
  
  
  /* stroke */
  nav.stroke ul li a,
  nav.navbar-nav ul li a {
    position: relative;
  }
  nav.stroke ul li a:after,
  nav.navbar-nav ul li a:after {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 0%;
    content: '.';
    color: transparent;
    background:#0288d1;
    height: 1px;
  }
  nav.stroke ul li a:hover:after {
    width: 100%;
  }
  
  nav.navbar-nav ul li a {
    transition: all 2s;
  }
  
  nav.navbar-nav ul li a:after {
    text-align: left;
    content: '.';
    margin: 0;
    opacity: 0;
  }
  nav.navbar-nav ul li a:hover {
    color: #0288d1;
    z-index: 1;
  }
  nav.navbar-nav ul li a:hover:after {
    z-index: -10;
    animation: navbar-nav 1s forwards;
    -webkit-animation: navbar-nav 1s forwards;
    -moz-animation: navbar-nav 1s forwards;
    opacity: 1;
  }
  
  
  
  
  /* Keyframes */
  @-webkit-keyframes navbar-nav {
    0% {
      width: 0%;
      height: 1px;
    }
    50% {
      width: 100%;
      height: 1px;
    }
    100% {
      width: 100%;
      height: 100%;
      background: #f44336;
    }
  }
  
  