<!-- Footer -->
<footer class="page-footer font-small darken-3" >
        <!-- Footer Links -->
        <div class="container text-center text-md-left mt-5 pt-2 " style="color: #37474F;">
      
            <!-- Grid row -->
            <div class="row mt-3">
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-4 col-xl-3 mx-auto mb-4">
              <hr>
                <!-- Content -->
                <h6 style="font-family: 'gula', 'arial', sans-serif; color: white; font-size: 16pt;"  >FOODICTED</h6> 
                <hr class="deep-purple accent-2 mb-8 mt-0 d-inline-block mx-auto" style="width: 60px; color: whitesmoke;" >
                <p>Our mission is to provide the customer with the finest varities in catering.  We exist to attract and maintain customers.  When we adhere to this maxim, everything else will fall into place.  Our services will exceed the expectations of our customers.
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-2 col-lg-2 col-xl-2 mx-auto mb-4">
                <hr>
                <!-- Links -->
                <h6 class="text-uppercase font-weight-bold">Opening hours</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  We're open 24x7
                </p>
                
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-3 col-lg-2 col-xl-2 mx-auto mb-4">
        
                <!-- Links -->
                <hr>
                <h6 class="text-uppercase font-weight-bold">Useful links</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
                <p>
                  <a href="#!">Your Account</a>
                </p>
                <p>
                  <a href="#!">Become a Foodicted</a>
                </p>
                <p>
                  <a href="#!">Event Rates</a>
                </p>
                <p>
                  <a href="#!">Help</a>
                </p>
        
              </div>
              <!-- Grid column -->
        
              <!-- Grid column -->
              <div class="col-md-4 col-lg-3 col-xl-3 mx-auto mb-md-0 mb-4">
        
                <!-- Links -->
                <hr>
                <h6 class="text-uppercase font-weight-bold">Contact</h6>
                <hr class="deep-purple accent-2 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;background-color: grey;">
                <p>
                    <i class="fa fa-home "></i> Foodicted Pvt Ltd, Madgoa, India
                </p>
                <p>
                    <i class="fa fa-envelope-square"></i> Foodicted@outlook.com
                </p>
                <p>
                    <i class="fa fa-phone"></i> +91 9994545800
                </p>
                <p>
                    <i class="fa fa-fax"></i> +91 3394545900
                </p>
        
              </div>
              <!-- Grid column -->
        
            </div>
            <!-- Grid row -->
        
          </div>
          <!-- Footer Links -->
        
        
        
      
          
      
            
                <!-- Grid row-->
                <div class="row py-6 d-flex align-items-center" style="background-color: #263238"> 
                   
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-5 text-center text-md-left mb-4 mb-md-10 mt-2">
                      <h6 class="mb-0 mt-2 pl-2 pt-2" style="color:aliceblue;">Get connected with us on social networks!</h6>
                    </div>
                    <!-- Grid column -->
          
                    <!-- Grid column -->
                    <div class="col-md-6 col-lg-7 text-center text-md-right">
          
                      <!-- Facebook -->
                      <a class="fb-ic">
                          <button class="fa fa-facebook-square mr-2 fa-2x "style="background-color:#263238; border:0px"></button> 
                      </a>
                      <!-- Twitter -->
                      <a class="tw-ic">
                          <button class="fa fa-twitter-square mr-2 fa-2x"style="background-color: #263238; border:0px"></button>
                      </a>
                      <!-- Google +-->
                      <a class="gplus-ic">
                          <button class="fa fa-google-plus-square mr-2 fa-2x"style="background-color: #263238; border:0px"></button>
                      </a>
                      <!--Linkedin -->
                      <a class="li-ic">
                          <button class="fa fa-linkedin-square mr-2 fa-2x"style="background-color: #263238; border:0px"></button>
                      </a>
                      <!--Instagram-->
                      <a class="ins-ic">
                          <button class="fa fa-instagram mr-2 fa-2x "style="background-color: #263238; border:0px"></button>
                      </a>
          
                    </div>
                    <!-- Grid column -->
          
                  </div>
                  <!-- Grid row-->
        
      
      </footer>
      <!-- Footer -->