section{
    text-align: center;
}

h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'gula', 'arial', sans-serif;
  }

  h3 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Tomatoes-O8L8', 'arial', sans-serif;
  }

  
  .main { 
    box-sizing: border-box; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    margin: 24px 0 12px 0;
    color: white;
    width: 50%;
    box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.2), 0px 0px 15px rgba(0, 0, 0, 0.2);
    padding: 20px; 
    position: center;
    font-family: 'Raleway-Light', 'arial', sans-serif;
    border-color: #f75e06;

  }

   .form-control:focus{
        
        box-shadow: 0px 1px 15px rgba(0, 0, 0, 0.075) inset, 0px 0px 15px rgb(240, 68, 0);


   }
