<app-dash-board></app-dash-board>
  <app-header></app-header>
 <div class="mainn">
<div class="container col-md-8">
  <form class = "form" #f= "ngForm">
    <div class="form-group mt-5">
      <label class = "form-label"><strong>FOOD ID</strong></label>
      <input type="number"   [(ngModel)]="food.foodId"   name = "foodId"  class="form-control" />
    </div>
    <div class="form-group">
      <label class = "form-label"><strong>Name :</strong> </label>
      <input type="text" class="form-control" [(ngModel)]="food.name"  name = "name" />
    </div>
    <div class="form-group">
      <label class = "form-label"><strong>Category :</strong></label>
      <input type="text" class="form-control" [(ngModel)]="food.cat"    name = "Category">
    </div>
    <div class="form-group">
      <label class = "form-label" ><strong>Price :</strong></label>
      <input type="text" class="form-control" [(ngModel)]="food.price"  name= "Price" />
    </div>
    
    <div class="form-group">
      <label class = "form-label"><strong>Occasion :</strong></label>
      <input type="text" class="form-control" [(ngModel)]="food.occ"    name = "Occasion">
    </div>
    <div class="form-group text-center">
      <button (click)="add()" class="btn btn-success" >{{isNew ? "Add Food Item":"Update Food"}}</button>
    </div>
  </form>
</div>
</div>
<app-footer></app-footer>