h2 {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'gula', 'arial', sans-serif;
    text-align: center;
    font-size: 50pt;
    padding-left: 450pt;
    margin-top: 2%;
    
  }
  navbar-brand{
      padding-right: 50pt;
      margin-left: 0%;
  }