


  <head>
    
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
    <!-- <style>
    /* Make the image fully responsive */
    .carousel-inner img {
        width: 100%;
        height: 100%;
    }
    </style> -->
  </head>
<app-header></app-header>
<!-- <div id="demo" class="carousel slide" data-ride="carousel">

                


                
                <ul class="carousel-indicators" > 
                  <li data-target="#demo" interval="500" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" interval="500" data-slide-to="1"></li>
                  <li data-target="#demo"  interval="500" data-slide-to="2"></li>
                </ul>
              
                
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://cdn.pixabay.com/photo/2018/12/04/16/49/tandoori-3856045_1280.jpg" alt="Los Angeles">
                  </div>
                  <div class="carousel-item">
                    <img src="https://3.bp.blogspot.com/-gXDYRFfhVvM/V-tXRWN7BqI/AAAAAAAABEE/cvnWJAySYZ0I5GuqDBakLRr1DB8i4ivywCLcB/s1600/Onam%2BSadhya.jpg" alt="Chicago">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2014/12/22/12/20/food-577222_1280.jpg" alt="New York">
                  </div>
                </div>
              
                                <a class="carousel-control-prev"  href ="#demo"  data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href = "#demo"  data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>
               -->
              
               <div id="demo" class="carousel slide" data-ride="carousel">

                <!-- Indicators -->
                <ul class="carousel-indicators">
                  <li data-target="#demo" data-slide-to="0" class="active"></li>
                  <li data-target="#demo" data-slide-to="1"></li>
                  <li data-target="#demo" data-slide-to="2"></li>
                </ul>
              
                <!-- The slideshow -->
                <div class="carousel-inner">
                  <div class="carousel-item active">
                    <img src="https://cdn.pixabay.com/photo/2018/12/04/16/49/tandoori-3856045_1280.jpg" alt="Los Angeles">
                  </div>
                  <div class="carousel-item">
                    <img src="https://3.bp.blogspot.com/-gXDYRFfhVvM/V-tXRWN7BqI/AAAAAAAABEE/cvnWJAySYZ0I5GuqDBakLRr1DB8i4ivywCLcB/s1600/Onam%2BSadhya.jpg" alt="Chicago">
                  </div>
                  <div class="carousel-item">
                    <img src="https://cdn.pixabay.com/photo/2014/12/22/12/20/food-577222_1280.jpg" alt="New York">
                  </div>
                </div>
              
                <!-- Left and right controls -->
                <a class="carousel-control-prev" href="#demo" data-slide="prev">
                  <span class="carousel-control-prev-icon"></span>
                </a>
                <a class="carousel-control-next" href="#demo" data-slide="next">
                  <span class="carousel-control-next-icon"></span>
                </a>
              
              </div>

              
              <div class="gallery">
              <section class="my-5">
              
              <!-- Section heading -->
                      <h2 class="h1-responsive font-weight-bold text-center my-5">Our Best-Sellers</h2>
                       <!-- Section description -->
                              <hr style="color: black;">
                              <div class="row">
                            
                                <!-- Grid column -->
                                <div class="col-lg-5">
                            
                                  <!-- Featured image -->
                                  <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                    <img class="img-fluid" src="https://recipesaresimple.com/wp-content/uploads/2014/08/thalassery-dum-biriyani-recipe.jpg" alt="Sample image">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>
                            
                                </div>
                                <!-- Grid column -->
                            
                                <!-- Grid column -->
                                <div class="col-lg-7" style="text-align: left;">
                            
                                  <!-- Category -->
                                  <a href="#!" class="green-text">
                                    <h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery" aria-hidden="true"></i>Rice</h6>
                                  </a>
                                  <!-- Post title -->
                                  <h3 class="font-weight-bold mb-3"><strong>Thalassery Biriyani</strong></h3>
                                  <!-- Excerpt -->
                                  <p>Thalassery Chicken Biriyani is quite popular all over the world. The aroma and flavours make it a hearty meal and the taste stay in your tongue and mind for long. Thalassery Chicken Biriyani has special spices that provides a distinctive flavour to the Biriyani.</p>
                                  <!-- Post data -->
                                  
                                 
                            
                                </div>
                                <!-- Grid column -->
                            
                              </div>
                              <!-- Grid row -->
                            
                              <hr class="my-5">
                            
                              <!-- Grid row -->
                              <div class="row">
                            
                                <!-- Grid column -->
                                <div class="col-lg-7" style="text-align: right;">
                            
                                  <!-- Category -->
                                  <a href="#!" class="pink-text">
                                    <h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery" aria-hidden="true"></i>Chicken</h6>
                                  </a>
                                  <!-- Post title -->
                                  <h3 class="font-weight-bold mb-3"><strong>Dragon Chicken</strong></h3>
                                  <!-- Excerpt -->
                                  <p>Dragon Chicken is a mildly spicy recipe of chicken that is marinated in a wonderful collection of flavors. The chicken lightly fried and simmered in a spicy tangy sauce with cashew nuts that imbues the entire dish with loads of flavor.</p>
                                  <!-- Post data -->
                                  
                                  
                            
                                </div>
                                <!-- Grid column -->
                            
                                <!-- Grid column -->
                                <div class="col-lg-5">
                            
                                  <!-- Featured image -->
                                  <div class="view overlay rounded z-depth-2 waves-light" >
                                    <img class="img-fluid" src="https://www.jinooskitchen.com/wp-content/uploads/2018/07/dragon-chicken-final.jpg" alt="Sample image">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>
                            
                                </div>
                                <!-- Grid column -->
                            
                              </div>
                              <!-- Grid row -->
                            
                              <hr class="my-5">
                            
                              <!-- Grid row -->
                              <div class="row">
                            
                                <!-- Grid column -->
                                <div class="col-lg-5">
                            
                                  <!-- Featured image -->
                                  <div class="view overlay rounded z-depth-2 mb-lg-0 mb-4 waves-light" mdbWavesEffect>
                                    <img class="img-fluid" src="https://www.yummyoyummy.com/wp-content/uploads/2018/06/DSC_0804.jpg" alt="Sample image">
                                    <a>
                                      <div class="mask rgba-white-slight"></div>
                                    </a>
                                  </div>
                            
                                </div>
                                <!-- Grid column -->
                            
                                <!-- Grid column -->
                                <div class="col-lg-7" style="text-align: left;">
                            
                                  <!-- Category -->
                                  <a href="#!" class="indigo-text">
                                    <h6 class="font-weight-bold mb-3"><i class="fa fa-cutlery" aria-hidden="true"></i> Fish</h6>
                                  </a>
                                  <!-- Post title -->
                                  <h3 class="font-weight-bold mb-3"><strong>Title of the news</strong></h3>
                                  <!-- Excerpt -->
                                  <p>Malabar Fish Curry is a traditional Malabari dish and is a tad spicy curry. But, most importantly, it has a signature taste of kudampuli (Dried malabar tamarind) and curry leaves. Make it at home with my authentic recipe to make fish curry Kerala style with and without coconut.</p>
                                  <!-- Post data -->
                                  
                            
                                </div>
                                <!-- Grid column -->
                            
                              </div>
                              <!-- Grid row -->
                            
                            </section>
                            <!-- Section: Blog v.1 -->
                      </div>