section{
    text-align: center;
}
p{
    text-align: justify;
}
.carousel-inner img {
    padding-top: 49px;
   
    width: 100%;
    height: 900px;
}

.gallery
{
    margin-left: 60pt;
    margin-right: 60pt;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.img-fluid { 
    
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4);
    margin: 12px 0px 0px 0;
    color: white;
    width: 75%;
    box-shadow: 0px 1px 15px rgb(71, 116, 129), 0px 0px 15px rgb(71, 116, 129);
    padding: 4px solid white; 
    position: center;
    border-color: white;
}